.card-list{
    background-color: #658dc681;
    backdrop-filter: blur(5px);
    padding: 25px;
    margin: 50px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

