*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background:  url(../public/lakeside-pink-sky-sunset-minimal-art-gradient-background-7680x3215-4584.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  width: 100%;
}



